<div>
    <h3>Registrarme</h3>

    <form class="mt-5" autocomplete="off" >

    <div class="mb-3">
      <label for="inputUsername" class="form-label">No. de control</label>
      <input type="text" 
        class="form-control" 
        placeholder="No. de control"
        id="inputUsername"
        formControlName="userName">
    </div>


    <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" 
          class="form-control" 
          placeholder="Contraseña"
          id="inputPassword"
          formControlName="password">
    </div>



    <div class="d-grid mt-5">
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </div>
      
  </form>

</div>
