<div class="BorderAnnoucement">

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <h2>Convocatorias</h2>
    </div>
  </nav>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.freepik.com/vector-gratis/casa-icono-salvar-mundo_24877-52913.jpg?w=1380&t=st=1660771625~exp=1660772225~hmac=32a5e82bf5bd06fa8006fb373432de21d894ee08d8078e481619ce205f473d85" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Maestría en Ciencias Ambientales</h1>
            <p class="lead">El Tecnológico de Cancún, como un mecanismo para contribuir con la solución de problemas ambientales y sociales de la regió y fortalecer los esfuerzos institucionales en materia de desarrollo sustentable, presenta el programa de Maestría en Ciencias Ambientales (MCA).</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Maestría en administracion de negocios</h1>
            <p class="lead">El turismo en México y en Latinoamérica se ha consolidado como uno de los sectores más relevantes desde el punto de vista económico y social. El Instituto Tecnológico de Cancún a través del Departamento de Ciencias Económico Administrativas tiene como objetivo y compromiso de contribuir a la formación de profesionales e investigadores altamente calificados.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.freepik.com/vector-gratis/gente-negocios-que-planifica-cronograma-hacer-que-gestion-trabajo-sea-financiera-calendario-ilustracion-vectorial-isometrica-plana-aislada-fondo-blanco_1150-62445.jpg?w=1800&t=st=1660771813~exp=1660772413~hmac=ce83131656e9836485bd9c2fc16935c5d9eba4be3d80582c4eb80ed98f9e509c  " class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.freepik.com/vector-gratis/iconos-verde-medio-ambiente_1133-184.jpg?w=1380&t=st=1660772081~exp=1660772681~hmac=d0ec82fdc2b9730b31464db0a2ed1e26a026cf9d54a88b5eff7bd6f42743d939" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Doctorado en ciencias ambientales</h1>
            <p class="lead">el Instituto Tecnológico de Cancún, como un mecanismo para contribuir con la solución de problemas ambientales y sociales de la región y fortalecer los esfuerzos institucionales en materia de desarrollo sustentable, presentan el programa de Doctorado en Ciencias Ambientales (DCA).</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
      </div>


</div>


