


<div class="row">

    <div class="col-md-6 d-flex justify-content-center align-items-start flex-column">
        <h2>Sistema Seguimiento de <span class="text-primary">Egresados</span></h2>

        <p class="mt-3 mb-5">El SSE es el sistema que permite el análisis del desempeño e impacto de los egresados en el sector productivo.</p>
        

        <button class="btn btn-secondary">¡Conoce más!</button>
    </div>

    <div class="col-md-6">
        <img class="graduadoImg" src="assets/images/graduado2.webp" alt="">
    </div>

</div>