img.graduadoImg {
    width: 100%;
}

.card {
    border: 0;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.cardObj {
    min-height: 200px;
}

.cardBen {
    min-height: 330px;
}


ul {
    list-style: none;
    padding: 0;
}
    
ul li::before {
    content: '✔ ';
    font-weight: bold;
}

ul {
    font-size: 14px;
    text-align: center;
}